<!-- A SPACER FOR FIXED BOTTOM -->
<div class="fixed-spacer-bottom">
</div>

<!-- BOTTOM NAVBAR -->
<nav class="navbar navbar-light fixed-bottom text-center pt-1">

  <a class="nav-link mx-auto" href="/pets">
    <i class="fas fa-home fa-2x"></i>
    <br>
    Home
  </a>

  <% if (!currUser) { %>
    <a id="register-btn" class="nav-link mx-auto" href="#">
      <i class="fas fa-user-plus fa-2x"></i>
      <br>
      Register
    </a>
    <a id="login-btn" class="nav-link mx-auto" href="#">
      <i class="fas fa-sign-in-alt fa-2x"></i>
      <br>
      Login
    </a>
  <% } else { %>
    <a class="nav-link mx-auto" href="/pets/new">
      <i class="fas fa-paw fa-2x"></i>
      <br>
      New Pet
    </a>
    <a class="nav-link mx-auto" href="/user/<%= currUser._id %>/pet-select">
      <i class="fas fa-plus-circle fa-2x"></i>
      <br>
      New Image
    </a>
    <a class="nav-link mx-auto" href="/user/<%= currUser._id %>">
      <i class="fas fa-user fa-2x"></i>
      <br>
      Profile
    </a>
  <% } %>

</nav>



<!-- Invisible Register Form Card PopUp -->
<div id="register-form" class="d-none">
  <div class="card pop-up-card p-4">
    <i class="fas fa-window-close fa-2x ml-auto text-secondary"></i>
    <h1 class="display-4 text-center">Register</h1>

    <!-- OAuth -->
    <a class="btn btn-lg mt-3 btn-danger" href="/auth/google" role="button">
      <i class="fab fa-google fa-lg mr-2"></i>
      Sign Up with Google
    </a>

    <a class="btn btn-lg mt-2 btn-primary mb-3" href="/auth/facebook" role="button">
      <i class="fab fa-facebook fa-lg mr-2"></i>
      Sign Up with Facebook
    </a>

    <!-- Local Auth -->
    <form class="" action="/register" method="post">
      <input class="form-control form-control-lg mb-2" type="text" name="username" placeholder="Enter a Username" required>
      <input class="form-control form-control-lg mb-2" type="password" name="password"
        placeholder="Enter a Password" minlength="8" required>
      <div class="text-center">
        <button class="btn btn-lg btn-info w-100" type="submit" name="button">Sign Up</button>
      </div>
    </form>

  </div>
</div>

<!-- Invisible Login Form Card PopUp -->
<div id="login-form" class="d-none">
  <div class="card pop-up-card p-4">
    <i class="fas fa-window-close fa-2x ml-auto text-secondary"></i>
    <h1 class="display-4 text-center">Login</h1>

    <!-- OAuth -->
    <a class="btn btn-lg mt-3 btn-danger" href="/auth/google" role="button">
      <i class="fab fa-google fa-lg mr-2"></i>
      Sign In with Google
    </a>

    <a class="btn btn-lg mt-2 btn-primary mb-3" href="/auth/facebook" role="button">
      <i class="fab fa-facebook fa-lg mr-2"></i>
      Sign In with Facebook
    </a>

    <!-- Local Auth -->
    <form class="" action="/login" method="post">
      <input class="form-control form-control-lg mb-2" type="text" name="username" placeholder="Username" required>
      <input class="form-control form-control-lg mb-2" type="password" name="password" placeholder="Password" required>
      <div class="text-center">
        <button class="btn btn-lg btn-info w-100" type="submit" name="button">Sign In</button>
      </div>
    </form>

  </div>
</div>

</body>

<footer>
  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <% if (!currUser) { %>
    <!-- Scripts for popUpForms -->
    <script src="/scripts/popUpForms.js" charset="utf-8"></script>
  <% } %>
</footer>

</html>
