<% include partials/header %>

<h1 class="display-2 text-center mt-4">Welcome to Petfolio!</h1>

<div class="text-center my-5">
  <p>
    Create profiles for your pets and post photos!
  </p>
  <p>
    Signing up for an account is free and easy!
  </p>
  <p>
    Just click the register button at the bottom!
  </p>
</div>


<p class="text-center">Website created by Oscar Ko:</p>
<p class="text-center">
  <i class="fab fa-github fa-2x mr-3"></i>
  <i class="fab fa-linkedin fa-2x"></i>
</p>

<p></p>

<% include partials/footer %>
