<% include partials/header %>

<h1 class="display-2 text-center mt-4">Welcome to Petfolio!</h1>

<div class="text-center my-5">
  <p>
    Create profiles for your pets and post photos!
  </p>
  <p>
    Signing up for an account is free and easy!
  </p>
  <p>
    Just click the register button at the bottom!
  </p>
</div>


<p class="text-center">Website created by Oscar Ko:</p>
<p class="text-center">
  <a class="text-decoration-none"
    href="https://github.com/OscarKodes">
    <i class="fab fa-github fa-2x mr-3 text-dark"></i>
  </a>
  <a class="text-decoration-none"
    href="https://www.linkedin.com/in/oscar-ko/">
    <i class="fab fa-linkedin fa-2x text-dark"></i>
  </a>
</p>

<p></p>

<% include partials/footer %>
