<% include partials/header %>

<div class="front">

  <div class="front-text-container">

    <h1 class="front-text">
      <span class="front-text-main">PetFolio</span>
      <span class="front-text-sub">share pet photos</span>
    </h1>

    <a class="front-btn btn btn-outline-light" href="/pets">Enter</a>

  </div>

</div>






<% include partials/footer %>
