<% include ../partials/header %>

<h1 class="display-1 text-center">Change Avatar</h1>

<form class="" action="/pets/<%= pet._id %>/avatar?_method=PUT" method="post"
  enctype="multipart/form-data">
  <input class="form-control form-clean-wide upload-img-btn border-0" type="file" name="avatar" value="" placeholder="Upload New Avatar" required>
  <input class="d-none" name="user_id" value="<%= currUser._id %>">
  <button class="btn btn-dark btn-xl" type="submit" name="button">Submit</button>
</form>

<div class="text-center">
  <a class="btn btn-outline-secondary btn-lg" href="/pets/<%= pet._id %>">Back to Pet</a>
</div>

<% include ../partials/footer %>
