<% include ../partials/header %>

<header>
  <h1 class="display-1 text-center my-4">
    PetFolio
  </h1>
</header>

<div class="text-center mb-4">
  <a class="btn btn-outline-dark btn-lg" href="/pets/new">Submit New Pet</a>
</div>

<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="new-tab" data-toggle="tab" href="#new"
    role="tab" aria-controls="new" aria-selected="true">New Pets</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="most-likes-tab" data-toggle="tab" href="#most-likes"
    role="tab" aria-controls="most-likes" aria-selected="false">Most Likes</a>
  </li>

</ul>
<div class="tab-content" id="myTabContent">

  <!-- NEW TAB CONTENT -->
  <div class="tab-pane fade show active" id="new" role="tabpanel"
  aria-labelledby="new-tab">

    <div class="">
      <div class="d-flex flex-row flex-wrap pet-container">
        <% pets.reverse().forEach(function(pet){ %>

              <div class="pet-card">
                <a class="text-decoration-none" href="/pets/<%= pet._id %>">
                  <img class="pet-card-img" src="<%= pet.avatar %>" alt="...">
                  <h5 class="pet-card-name">
                    <%= pet.name %>
                  </h5>
                </a>
              </div>

        <% }); %>
      </div>
    </div>

  </div>

  <div class="tab-pane fade" id="most-likes" role="tabpanel"
  aria-labelledby="most-likes-tab">
  ...</div>

</div>

<% include ../partials/footer %>
