<% include ../partials/header %>

<header>
  <h1 class="display-1 text-center my-4">
    PetFolio
  </h1>
</header>

<div class="text-center mb-4">
  <a class="btn btn-outline-dark btn-lg" href="/pets/new">Submit New Pet</a>
</div>


<!-- PET CLICK BLOCKS -->
<div class="d-flex flex-row flex-wrap pet-container">
  <% pets.reverse().forEach(function(pet){ %>

        <div class="pet-card">
          <a class="text-decoration-none" href="/pets/<%= pet._id %>">
            <img class="pet-card-img" src="<%= pet.avatar %>" alt="...">
            <p class="pet-card-name">
              <%= pet.name %>
            </p>
          </a>
        </div>

  <% }); %>
</div>








<% include ../partials/footer %>
