<% include ../partials/header %>

<h1>new pet form page</h1>

<form class="" action="/pets" method="post">
  <input type="text" name="pet[name]" value="" placeholder="Pet's Name">
  <input type="text" name="pet[avatar]" value="" placeholder="Avatar">
  <input type="text" name="pet[gender]" value="" placeholder="Gender">
  <input type="text" name="pet[species]" value="" placeholder="Species">
  <input type="text" name="pet[breed]" value="" placeholder="Breed">
  <input type="text" name="pet[info]" value="" placeholder="Info">
  <input class="d-none" name="user_id" value="<%= currUser._id %>">
  <button type="submit" name="button">Submit</button>
</form>

<% include ../partials/footer %>
