<% include ../partials/header %>

<h1 class="display-1 text-center">New Pet</h1>

<form class="" action="/pets" method="post">
  <input class="form-control form-control-lg form-clean-wide" type="text" name="pet[name]" value="" placeholder="Pet's Name" required>
  <input class="form-control form-control-lg form-clean-wide" type="text" name="pet[avatar]" value="" placeholder="Avatar: Paste Image URL" required>
  <input class="form-control form-control-lg form-clean-wide" type="text" name="pet[gender]" value="" placeholder="Gender">
  <input class="form-control form-control-lg form-clean-wide" type="text" name="pet[species]" value="" placeholder="Species i.e. cat, dog, rabbit">
  <input class="form-control form-control-lg form-clean-wide" type="text" name="pet[breed]" value="" placeholder="Breed i.e. dalmatian, ragdoll">
  <textarea class="form-control form-control-lg form-clean-wide" name="pet[info]" placeholder="Description"></textarea>
  <input class="d-none" name="user_id" value="<%= currUser._id %>">
  <button class="btn btn-dark btn-xl" type="submit" name="button">Submit</button>
</form>

<% include ../partials/footer %>
